@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Original+Surfer&display=swap');

/* Across pages */

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: calc(.5em + 1vw)
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: rgb(20, 20, 56);
  height: auto;
  position: relative;
  background: url(../images/pexels-julie-aagaard-1426718.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 83vw;
  margin: 7vh auto;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 25px;
}

h2,
h3,
h4,
h5 {
  color: rgb(39, 99, 34);
  text-align: center;
  margin: 1vh 0;
  font-family: 'Original Surfer', cursive;
  text-transform: uppercase;
}

p {
  text-align: justify;
}

p a {
  font-family: 'Original Surfer', cursive;
  font-style: italic;
}

a {
  text-decoration: none;
}

/* This is the link at the end of a page to return to top if present. */
#back-to-top {
  text-align: center;
  margin: 5vh 0;
}

#back-to-top a {
  color: rgb(7, 119, 31);
  background-color: seashell;
  margin: 0 auto;
  border-radius: 8px;
  padding: .5%;
}

#back-to-top>a:hover {
  color: seashell;
  background-color: rgb(7, 119, 31);
}

#back-to-top-mobile {
  display: none;
}

/* Header */

#header-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 2%;
  background: url(../images/pexels-aistė-sveikataitė-2886574.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  line-height: 15vh;
}


h1 {
  font-family: 'Original Surfer', cursive;
  font-weight: 400;
  color: rgb(245, 235, 220);

  /* Text-shadow learned from https://stackoverflow.com/a/4919231  */
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 200%;
  text-align: center;
  margin: 2% auto;

}

#lturtle {
  height: 100%;
  transform: rotate(330deg);
  padding-bottom: 5%;
}

#rturtle {
  height: 100%;
  transform: rotate(30deg);
  order: 1;
  padding-bottom: 5%;
}

/* Nav Bar */

#nav-container {
  height: 10%;
  background-color: rgb(65, 142, 243);
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  letter-spacing: 2px;
  list-style-type: none;
}

#navbar li a {
  color: blanchedalmond;
  height: 100%;
  line-height: 10%;
}

#navbar li a:hover {
  color: rgb(247, 238, 188);
  font-weight: 700;
}

.active {
  background-color: rgb(5, 84, 148);
  padding: 0 1vw;
  border-radius: 5px;
  height: 100%;
}

/* footer */

.foot {
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 3vh;
  background: url(../images/pexels-aistė-sveikataitė-2886574.jpg) no-repeat;
  background-size: cover;
}

.foot li {
  margin-top: 1vh;
}

.fturtle {
  height: 6vh;
  padding: 2% 1vh;
}

.foot i {
  font-size: 4vh;
  color: blanchedalmond;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  padding: 25% 0;
}

#right {
  transform: rotate(280deg);
}


/* index.html */

#event {
  height: 75vh;
}

.event-card {
  float: left;
  width: 30%;
  height: 60vh;
  margin: 1vw;
  text-align: center;
}

#webinar-img {
  background: url(../images/plastic.jpg) no-repeat center center;
  background-size: cover;
  /* How to blur background image learned with https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%;
}

#beach-clean-img {
  background: url(../images/beach-clean.jpg) no-repeat center center;
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%;
}

#fundraiser-img {
  background: url(../images/turtle-cake.png) no-repeat center center;
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%;
}

#webinar-text,
#beach-clean-text,
#fundraiser-text {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(47, 229, 241);
  font-weight: bold;
  position: relative;
  bottom: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#webinar-text>h2,
#webinar-text>h3,
#webinar-text>h4,
#beach-clean-text>h2,
#beach-clean-text>h3,
#beach-clean-text>h4,
#fundraiser-text>h2,
#fundraiser-text>h3,
#fundraiser-text>h4 {
  color: honeydew;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  padding-top: 1%;
}

#webinar-text p,
#beach-clean-text p,
#fundraiser-text p {
  padding: 5%;
}

/* Newsletter sign up - index.html */

fieldset {
  border: groove 1px;
  height: 30%;
  width: 50vw;
  background: url(../images/pexels-aistė-sveikataitė-2886574.jpg);
  margin: 2vh auto;
  text-align: left;
  padding: 0 1vw;
}

fieldset>legend {
  text-align: center;
  font-weight: 600;
}

fieldset input {
  line-height: 4vh;
}

#submit {
  text-align: center;
  color: green;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 1%;
  display: block;
  margin: 2vh auto;
  font-family: 'Nunito', sans-serif;
}

#submit:hover {
  background-color: green;
  color: aliceblue;
}

/* info.html */

#mobile-nav {
  display: none;
}

/* Side navigation bar */

#sidenav {
  width: 5vw;
  position: fixed;
  z-index: 1;
  bottom: 30%;
  left: 5px;
  background-color: rgb(255, 255, 255, .8);
  overflow-x: hidden;
  padding: 3px 3px 3px 0;
  border-radius: 15px;
  font-size: .5em;
  color: rgb(20, 20, 56);
}

#sidenav:hover {
  font-weight: bolder;
  color: rgb(20, 20, 20);
}

#sidenav a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  display: block;
}

#sidenav a:hover {
  font-weight: 600;
}

/* IUCN Red list - info.html */


#redlist {
  padding-left: 8em;
}

/* How to build joined circles at https://jsfiddle.net/Pugazh/uf3fk17g/  */

#redlist>li {
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin: 0px 10px;
  box-shadow: 0 0 3px 3px rgb(207, 205, 205);
}

#redlist>li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 1px;
  z-index: -1;
}

#redlist>li:first-child::before {
  display: none;
}

/* colour in the circles */

#redlist #ne,
#redlist #dd {
  background-color: rgb(185, 184, 184);
  color: rgb(20, 20, 20);
}

#redlist #lc,
#redlist #nt {
  background-color: rgb(12, 241, 62);
  color: rgb(226, 240, 227);
}

#redlist #vu {
  background-color: rgb(167, 231, 18);
  color: rgb(216, 224, 195);
}

#redlist #en {
  background-color: rgb(231, 139, 18);
  color: rgb(216, 224, 195);
}

#redlist #cr {
  background-color: rgb(231, 18, 18);
  color: rgb(216, 224, 195);
}

#redlist #ew,
#redlist #ex {
  background-color: rgb(238, 14, 14);
  color: rgb(139, 134, 134);
}

/* colouring the p text */

.grey {
  color: rgb(134, 133, 133);
}

.green {
  color: rgb(7, 167, 47);
}

#yellow {
  color: rgb(219, 233, 20);
}

#orange {
  color: rgb(216, 103, 11);
}

.red {
  color: rgb(167, 7, 7);
}

/* turtle info sections - info.html */

.turtle-container {
  height: 90vh;
  width: 87vw;
  margin: 5vh auto;
  position: relative;
  border-radius: 25px;
  padding: 2%;
}

.turtle-container a {
  color: aqua;
}

#g-turtle {
  background: url(../images/green-swim.jpg) no-repeat center center;
  background-size: cover;
}

#logger {
  background: url(../images/loggerhead.jpg) no-repeat center center;
  background-size: cover;
}

#leatherback {
  background: url(../images/leatherback.jpg) no-repeat center center;
  background-size: cover;
}

#hawk {
  background: url(../images/hawksbill.jpg) no-repeat center center;
  background-size: cover;
}

#olive {
  background: url(../images/olive-ridley.jpg) no-repeat center center;
  background-size: cover;
}

#kemp {
  background: url(../images/kemps-ridley.jpg) no-repeat center center;
  background-size: cover;
}

#flat {
  background: url(../images/flatback.jpg) no-repeat center center;
  background-size: cover;
}

#flat,
#kemp,
#olive,
#leatherback,
#hawk,
#g-turtle,
#logger {
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(2.5px);
  height: 100%;
  border-radius: 25px;
}

#flat-text,
#kemp-text,
#olive-text,
#leatherback-text,
#hawk-text,
#g-turtle-text,
#logger-text {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(47, 229, 241);
  position: relative;
  bottom: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: justify;
  border-radius: 25px;
}

#flat-text>h2,
#kemp-text>h2,
#olive-text>h2,
#leatherback-text>h2,
#hawk-text>h2,
#g-turtle-text>h2,
#logger-text>h2 {
  padding-top: 3%;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#flat-text>p,
#kemp-text>p,
#olive-text>p,
#leatherback-text>p,
#hawk-text>p,
#g-turtle-text>p,
#logger-text>p {
  padding: 0 2.5% 0 2.5%;
}

/* help.html */

#tips ol {
  margin: 0 2vw;
}

#tips ol a {
  font-family: 'Original Surfer', cursive;
  font-style: italic;
}

/* Products section - help.html */

#products {
  height: 110vh;
}

#items>p {
  margin: 1vh 3vw;
}

.card {
  float: left;
  width: 29%;
  font-size: 75%;
  margin: 1% 2%;
}

.card a {
  text-align: center;
}

.card img {
  height: 15vh;
  margin: 2vh 30%;
}

/* donate section - help.html */

#donate {
  height: 30vh;
}

#donations {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

#donations img {
  height: 12vh;
}

/* Contact.html */

#contact-page {
  height: 100vh;
}

#contact-us {
  height: 90vh;
}

#contact {
  margin: 2vh auto;
}

#tablet-contact {
  display: none;
}

#mobile-contact {
  display: none;
}

#small-mobile-contact {
  display: none;
}

#contact-button {
  text-align: center;
  display: block;
  margin: 2vh auto;
  color: green;
  background-color: aliceblue;
  border-radius: 10px;
  height: 4vh;
  padding: 2px;
}

#contact-button:hover {
  background-color: green;
  color: aliceblue;
}

/* MEDIA QUERIES */

/* Media queries for tablet - portrait */

@media screen and (max-width: 1024px) and (orientation: portrait) {

  /* index.html */

  #event {
    height: 95vh;
  }

  .event-card {
    width: 95%;
    height: 30%;
  }

  #submit {
    line-height: 1em;
    padding: 2%;
    margin: 1vh auto;
  }

  /* info.html */

  #sidenav {
    display: none;
  }

  #mobile-nav {
    display: block;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 15px;
    height: 15vh;
  }

  #m-nav>ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 8px;
    height: 10vh;
    line-height: 2em;
  }

  #m-nav>ul>li {
    font-family: 'Original Surfer', cursive;
    flex-wrap: wrap;
  }

  #redlist {
    padding-left: 10%;
  }

  .turtle-container {
    height: 42vh;
  }

  #back-to-top-mobile {
    display: block;
    text-align: center;
    margin: 3vh 0;
  }

  #back-to-top-mobile a {
    color: rgb(7, 119, 31);
    background-color: seashell;
    margin: 2vh auto;
    border-radius: 8px;
    padding: .5%;
  }

  /* help.html */

  #products {
    height: 70vh;
  }

  .card img {
    height: 10vh;
    margin: 2vh 10%;
  }

  #donate {
    height: 15vh;
  }

  #donations img {
    height: 7vh;
  }

  /* contact.html */

  #contact-page {
    height: 65vh;
  }

  #contact-us {
    height: 50vh;
  }

  #contact-box {
    display: none;
  }

  #tablet-contact {
    display: block;
  }
}

/* Media query for tablet - landscape */

@media screen and (max-width: 1024px) and (orientation: landscape) {

  #event {
    height: 60vh;
  }

  .event-card {
    height: 50vh;
  }

  #sidenav {
    display: none;
  }

  #mobile-nav {
    display: block;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 15px;
    height: 15vh;
  }

  #m-nav>ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 8px;
    height: 10vh;
    line-height: 2em;
  }

  #m-nav>ul>li {
    font-family: 'Original Surfer', cursive;
    flex-wrap: wrap;
  }

  #redlist {
    padding-left: 15%;
  }

  .turtle-container {
    height: 60vh;
  }

  #back-to-top-mobile {
    display: block;
    text-align: center;
    margin: 3vh 0;
  }

  #back-to-top-mobile a {
    color: rgb(7, 119, 31);
    background-color: seashell;
    margin: 2vh auto;
    border-radius: 8px;
    padding: .5%;
  }

  /* help.html */

  #products {
    height: 90vh;
  }

  #donate {
    height: 20vh;
  }

  /* contact.html */

  #contact-us {
    height: 75vh;
  }
}

/* Media query for large phones - portrait */

@media screen and (max-width: 820px) and (orientation: portrait) {

  #lturtle,
  #rturtle {
    height: 55%;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 150%;
  }

  #header-container {
    height: 12vh;
  }

  #span-home,
  #span-info,
  #span-contact,
  #span-help {
    display: none;
  }

  #navbar {
    height: 2.5em;
  }

  #nav-bar li {
    font-size: 1.9em;
  }

  .m-active {
    padding: 0 4vw;
  }

  .container {
    margin: 5vh auto;
  }

  /* info page */

  #mobile-nav,
  #m-nav {
    height: 20vh;
  }

  #m-nav ul {
    height: 13vh;
  }

  #redlist {
    display: none;
  }

  .turtle-container {
    height: 50vh;
  }

  /* help.html */

  #products {
    height: 95vh;
  }

  .card {
    width: 40%;
    padding-left: 3%;
  }

  #donations img {
    height: 4vh;
  }

  /* contact.html */

  #tablet-contact {
    display: none;
  }

  #mobile-contact {
    display: block;
  }

  #contact-page {
    height: 70vh;
  }

  #contact-us {
    height: 60vh;
  }

}

/* Media query for large phones - landscape */

@media screen and (max-width: 850px) and (orientation: landscape) {

  /* index.html */

  #event {
    height: 100vh;
  }

  .event-card {
    height: 90vh;
  }

  /* info.html */

  #mobile-nav {
    height: 35vh;
  }

  #mobile-nav ul {
    height: 28vh;
  }

  .turtle-container {
    height: 110vh;
  }

  /* help.html */

  #products {
    height: 140vh;
  }

  #donate {
    height: 25vh;
  }

  /* contact.html */

  #contact-page {
    height: 120vh;
  }

  #contact-us {
    height: 105vh;
  }

  #contact-box {
    display: none;
  }

  #tablet-contact {
    display: block;
  }
}

/* Media query for smaller phones - portrait */

@media screen and (max-width: 650px) and (orientation: portrait) {

  /* info.html */

  #mobile-nav,
  #m-nav {
    height: 20vh;
  }

  #m-nav ul {
    height: 15vh;
  }

  .turtle-container {
    height: 65vh;
  }

  /* help.html */

  #products {
    height: 110vh;
  }

  /* contact.html */

  #contact-page {
    height: 75vh;
  }

  #contact-us {
    height: 70vh;
  }

}

/* Media query for smaller phones - landscape */

@media screen and (max-width: 650px) and (orientation: landscape) {

  /* info.html */

  #redlist {
    padding-left: 5%;
  }

  /* help.html */

  .card {
    width: 25%;
    margin-left: 5%;
  }

  #donate {
    height: 35vh;
  }

}

/* media query for small phone - portrait */

@media screen and (max-width: 570px) and (orientation: portrait) {

  h1 {
    font-size: 100%;
  }

  /* info.html */

  #mobile-nav {
    height: 25vh;
  }

  #m-nav ul {
    height: 18vh;
  }

  .turtle-container {
    height: 70vh;
  }

  /* contact.html */

  #mobile-contact {
    display: none;
  }

  #small-mobile-contact{
    display: block;
  }
}

/* media query for small phones - landscape */ 

@media screen and (max-width: 570px) and (orientation: landscape) {

  /* info.html */

  #redlist {
    padding-left: 2%;
  }

  .turtle-container {
    height: 130vh;
  }

  /* help.html */

  #products {
    height: 180vh;
  }

  .card {
    width: 40%;
  }

  /* contact.html */

  #tablet-contact {
    display: none;
  }

  #small-mobile-contact {
    display: block;
  }


}