@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Original+Surfer&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: rgb(20, 20, 56);
    height: auto;
    position: relative;
}

h2,
h3,
h4 {
    color: rgb(39, 99, 34);
}

a {
    text-decoration: none;
}

/* #############
      Header
   ############# */

.header-container {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    background: url(../images/sand-banner.jpg);
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-family: 'Original Surfer', cursive;
    font-weight: 400;
    color: rgb(245, 235, 220);
    /* Text-shadow learned from https://stackoverflow.com/a/4919231  */
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 4rem;
    text-align: center;
}

#lturtle {
    height: 100%;
    transform: rotate(330deg);
    padding-right: 5%;
    padding-bottom: 5%;
}

#rturtle {
    height: 100%;
    transform: rotate(30deg);
    order: 1;
    padding-left: 5%;
    padding-bottom: 5%;
}

/* Nav Bar */

#nav-container {
    height: 5vh;
    width: 100vw;
    background-color: rgb(65, 142, 243);
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
}

#navbar li a {
    color: blanchedalmond;
}

#navbar li a:hover {
    color: rgb(247, 238, 188);
    font-weight: 700;
}

.active {
    text-decoration: double underline;
}

/* #############
       index.html
     ############# */

.intro-container {
    height: 35vh;
    width: 90vw;
    margin: 5vw;
}

<section class="outer">
        <div class="container">
            <h2>General conservation info</h2>
            <p>
                Sea turtles have been around for millions of years. 120 million to be (relatively) precise, which means
                they were swimming around while dinosaurs roamed the earth. They haven't changed too much since then,
                and even after surviving those millions of years, their populations have been deciemated in recent
                times.
                Even though hunting sea turtles is largely illegal now, huge fishing trawlers deplete the oceans of
                turtles' prey, or accidentally catch the turtles themselves. A high percentage of those relaeased
                still die.
                As global temperatures rise, the balance of male to female sea turtles is shifting out of balance,
                as sex is determined by nest temperatures. As coastal areas are developed, nesting beaches become
                unsuitable for turtles to lay in, and even if they can, hatchlings which typically emerge at night
                are easily disoriented by the bright lights, as they navigate by the moon.
                But hope is not lost. By making a few small changes in our day to day lives, we can undo the
                damage we have done to let these animals return to their previous abundance.
                Turtle sex is determined by the temperature of the nest - cooler nests produce males, warmer females.
                Plastic pollution is a leading cause of turtle death.
                <a href="https://www.worldwildlife.org/stories/what-do-sea-turtles-eat-unfortunately-plastic-bags"
                    target="_blank">Link for more information</a>.<br>
            </p>
        </div>
    </section>